.shop-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin-top: 100px;
    margin-bottom: 100px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 50px;
    margin-right: 20px;
}
.selected-items{
    text-decoration:underline;
    text-decoration-color: green;
    text-decoration-style:double;
}
.custom-color{
    color: blueviolet;
}